body {
    background: rgb(250, 165, 179);
    font-family: arial, sans-serif;
  }
  @media only screen and (max-width: 320px) {
  .example {background: red;}
}
  h1 {
    color:rgb(2, 82, 109);
    text-align: center; 
  }
  h2{color: rebeccapurple;
    text-align: center;
  }
  h4{color:gray;
    text-align: center;
  }

  P {color: rgb(2, 82, 109);
    text-align: center;
  }

  li {color:gray;
    text-align: center;}

  div {
    text-align: center;
  }

 
   


