body {
    background: rgb(224, 180, 133);
    font-family: arial, sans-serif:
  }
  h1 {
    color:rgb(2, 82, 109);

  }
  P {color: rgb(2, 82, 109);
  }
 
    ul{
      margin:0;
      padding: 0;
      list-style-type:none;
    }

    li {
      display: inline-block;
      margin-right: 20px;

    }


